<!DOCTYPE html>
<html lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <a class="topright" href="/">Home</a>
    <div class="d-flex justify-content-center h-100">
        <div class="card_music">
            <div class="card-header">
            <h2>
                Error! <span th:if="${errorMessage}"  th:text="${errorMessage}"></span>
            </h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>
