<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link th:href = "@{/css/style.css}" rel="stylesheet">
    <title>Music for the weather</title>
</head>

<body>
<footer class="bg-light text-center text-lg-start">
<div th:fragment="copy" class=" footer text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
<p> &copy; 2021 MusicForLocation </p>
</div>
<!-- Copyright -->
</footer>
</body>
</html>