<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
      <link th:href = "@{/css/style.css}" rel="stylesheet">
   <title>Music for the weather</title>
</head>

<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card_index">
            <div class="card-header">
                <h5 >Get Music for the City or Lat/Long</h5>
            </div>
            <div class="card-body">
                <form action="#" th:action="@{/getMusicForWeather}" method="post" th:object="${location}">
                    <div class="input-group form-group">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"/>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"/>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" class="form-control"  th:field="*{name}" name="name" placeholder="City Name"/>
                    </div>
                    <div class="input-group form-group">
                        <input type="text"  class="form-control"  th:field="*{latitude}" placeholder="Latitude" name="latitude"/>
                    </div>
                    <div class="input-group form-group">
                        <input type="text" class="form-control"  th:field="*{longitude}" placeholder="Longitude" name="longitude"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Get Music" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>

