<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset = "ISO-8859-1" />
  <link href = "css/styles.css" rel = "stylesheet"/>
  <title>Music for the weather</title>
</head>
<body>
<div align="center">
  <h1>Enter the City:</h1>
  <form action="#" th:action="@{/getMusicForWeather}" method="post" th:object="${location}">
    <label>City name:</label>
    <input type="text" id="name" name="name" />
    <label>Latitude:</label>
    <input type="text" th:field="*{latitude}" placeholder="double" name="latitude"/>
    <label>Longitude:</label>
<!--    <input type="text" id="longitude" name="longitude" />-->
    <input type="text" th:field="*{longitude}" placeholder="double" name="longitude"/>
    <button type="submit">Get Music</button>
  </form>
</div>
</body>
</html>