<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <title>Music for the weather</title>
      <style>
        div.container {
        border-radius: 15px;
        align: Center;

        background-color: #f2f2f2;
        padding: 25px;
        }
    </style>
</head>

</style>
<body>

  <div class="container" align="center">
      <div class="form-row" align="center">
          <div class="form-group col-md-4" align="center">
            <img src="images\music.jpg" class="rounded-circle" alt="Cinque Terre">
          </div>
      </div>
      <div class="form-row" align="center">
          <div class="form-group col-md-4" align="center">
            <h6> Enter City Name or Latitude/Longitude to get Music</h6>
          </div>
      </div>
    <form action="#" th:action="@{/getMusicForWeather}" method="post" th:object="${location}">

        <div class="form-row" align="center">
            <div class="form-group col-md-4" align="center">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"/>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"/>
            </div>
        </div>
        <div class="form-row" align="center">
            <div class="form-group col-md-4" align="center">
                <input type="text" id="name" name="name" placeholder="City Name"/>
            </div>
        </div>
      <div class="form-row" align="center">
        <div class="form-group col-md-2" align="center">
          <input type="text"  class="for-control"  th:field="*{latitude}" placeholder="Latitude" name="latitude"/>
        </div>
        <div class="form-group col-md-2" align="center">
          <input type="text" class="form-control"  th:field="*{longitude}" placeholder="Longitude" name="longitude"/>
        </div>
      </div>
        <div class="form-row" align="center">
            <div class="form-group col-md-4" align="center">
                <button type="submit" class="btn btn-primary mb-2" align="center">Get Music</button>
            </div>
        </div>

    </form>
  </div>
</body>
</html>